---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ShareModal from "../components/ShareModal.astro";

import type { ImageMetadata } from 'astro';

interface Props {
	title: string;
	description: string;
	image?: string | ImageMetadata;
	fullScreen?: boolean;
	noindex?: boolean;
}

const {
	title,
	description,
	image,
	fullScreen = false,
	noindex = false,
} = Astro.props;
---

<!doctype html>
<html lang="ja" class={fullScreen ? "overflow-hidden w-full h-full" : ""}>
	<head>
		<BaseHead title={title} description={description} image={image} noindex={noindex} />
	</head>
	<body class={`${fullScreen ? 'bg-[#111315]' : 'bg-gray-50 lg:bg-white'} text-gray-700 antialiased font-sans ${fullScreen ? 'overflow-hidden w-full h-full overscroll-none' : ''}`}>
		<div class={`w-full relative mx-auto ${fullScreen ? 'bg-[#111315] h-[100dvh] flex items-center justify-center' : 'bg-white min-h-screen flex flex-col'}`}>
			{!fullScreen && <Header />}
			<main class={fullScreen ? "w-full h-full" : "flex-grow w-full max-w-6xl mx-auto pb-24 lg:pb-12"}>
				<slot />
			</main>
			{!fullScreen && <Footer />}
			<ShareModal />
		</div>
	</body>
</html>
